-->
{% extends 'base.html' %}
{% block code %}
 <!-- ======= Hero Section ======= -->
 <section id="hero" class="hero d-flex align-items-center">

   
 <main id="main">
   <!-- ======= About Section ======= -->
   <section id="about" class="about">

     <div class="container" data-aos="fade-up">
       <div class="row gx-0">

         <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
           <div class="content">
             <h3>ABOUT</h3>
             <p>The brain, which is encased by the skull and consists of the cerebrum,
               cerebellum, and brainstem, is a tremendously complicated and fascinating 
               organ in the human body. Stroke is the world's second greatest cause of 
               death, so it must be treated as soon as possible to avoid brain damage. 
               Early identification of a brain stroke can help to avoid or minimise the 
               severity of the stroke, potentially lowering mortality rates. A promising 
               strategy is to use machine learning algorithms to identify risk variables. 
               This research provided a model that contained an approach for predicting brain 
               strokes accurately. To ensure the effectiveness of our suggested model, 
               efficient data collecting, data pre-processing, and data transformation approaches 
               have been used. A brain stroke dataset was employed to build up the model. 
               The standardization technique is used to standardize data. In the training and
                testing procedure, KNN, Logistic Regression, Naïve Bias, Decision Tree, Random Forest, 
                MLP, SVC, CatBoost classifiers are applied. The performance of each classifier has been 
                estimated by adopting performance evaluation metrics such as accuracy, sensitivity,
                 error rate, false-positive rate, false-negative rate, root mean square error, 
                 and log loss. Based on the outcome while using the RF classifier, 
                 we can determine that our proposed model provided the maximum accuracy,</p>
            
           </div>
         </div>

         <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
           <img src="/static/assets/img/br2.jpg" style="width: 1000px; border-radius: 50% 20% / 10% 40%;" class="img-fluid" alt="">
         </div>

       </div>
     </div>

   </section><!-- End About Section -->

   <!-- ======= Values Section ======= -->
   
     </div>
   </div>
 </footer><!-- End Footer -->



 {% endblock %}