-->
{% extends 'base1.html' %}
{% block code %}
<style>
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  </style>
 <div class="container">
  <img src="/static/assets/img/br5.jpg" style="width: 1000px; height: 720px; border-radius:750% / 400%;">
  <div class="centered" style="color: black;"><h1><b>Welcome User</b></h1></div>
</div>
 
 <!-- ======= Hero Section ======= -->
 

 {% endblock %}